@model CourseManagementSystem.Models.Lecture

@{
    ViewBag.Title = "Подробнее о лекции";
}

<h2>Подробнее</h2>

<div>
    <h4>О лекции</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    
    @{
        string s = Convert.ToString(ViewData.Model.CourseId);
        @Html.ActionLink("Back to List", "Details/"+@ViewData.Model.CourseId,"Course");        
    }
    @ViewData["courseId"]
</p>
